@tailwind base;
@tailwind components;
@tailwind utilities;

.display-text {
    -webkit-text-stroke: 1px black;
    @apply text-[75px] font-extrabold;
}

::-webkit-scrollbar {
    width: 0px;
    /*竖向滚动条的宽度*/
    height: 0px;/*横向滚动条的高度*/
}